<li class='list'>
        <%= link_to item_path(item.id),  method: :get do %>
        <div class='item-img-content'>
          <%= image_tag item.images[0], class: "item-img" if item.images.attached?%>
           
          <%# 商品が売れていればsold outの表示 %>
          <div class='sold-out'>
            <%if item.buyer != nil %>
             <span>Sold Out!!</span>
            <% else %>
            <%end %> 
          </div> 
          <%# //商品が売れていればsold outの表示 %>
        </div>
        <div class='item-info'>
          <h3 class='item-name'>
            <%=item.name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price%>円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
       <% end %>   
      </li>

      